.restrained-field {
    position: relative;
    overflow: hidden;
}
.restrained-field.display_login_block:after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    padding-top: 100px;
    background-image: linear-gradient(to bottom, transparent, white);
    content: ""
}

.restrained-field-footer{
    margin-top: 15px;
    padding: 15px 15px 0;
    border-top: 3px solid #8D44AB;
    font-weight: bold;
}

.restrainded-field-container{
    margin-bottom: 40px;
}