<div {{field_attribute.addClass([" drupal-gallery-overlay","gallery-overlay-section"])}}>
	<div {{gallery_attribute.addClass("gallery-overlay-section-gallery")}}>
		<div class="row">
			{% for element in elements %}
				<div {{image_attributes.image_wrappers_class.addClass("base-image-container")}}>
					<div class="go-img-wrapper img-wrapper">
						<div >{{element.image}}</div>
						<a class="go-img-overlay img-overlay" href="{{element.url}}">
							<!-- il faut remplacer ceci par du SVG -->
							<i {{image_attributes.icon_class}} aria-hidden="true"></i>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<!-- End row -->
	</div>
	<!-- End image gallery -->
</div>
